Repository webforj/webforj, pull requests merged in 2024-08, with the labels that each got.

#698 fix: components that are not focusable are not being removed from the tab order
  webforj-foundation/src/main/java/com/webforj/component/DwcFocusableMixin.java
Labels: Type: Bug, module: foundation

#700 fix: catch errors in async function execution that were not caught in `Element::callJsFunctionAsync`
  webforj-foundation/src/main/java/com/webforj/component/element/Element.java
Labels: Type: Bug, module: foundation

#701 fix: the login component should be closed before destroying
  webforj-components/webforj-login/src/main/java/com/webforj/component/login/Login.java
Labels: Type: Bug, module: components

#709 fix: BBjWindowAdapter now needs additional call to create()
  webforj-foundation/src/main/java/com/webforj/bridge/BBjWindowAdapter.java
Labels: module: foundation

#711 refactor: add `SlotRegistry` to manage components in slots
  webforj-foundation/src/main/java/com/webforj/component/SlotRegistry.java
  webforj-foundation/src/main/java/com/webforj/component/element/Element.java
  webforj-foundation/src/test/java/com/webforj/component/SlotRegistryTest.java
  webforj-foundation/src/test/java/com/webforj/component/element/ElementTest.java
Labels: Type: Refactor, module: foundation
