Repository webforj/webforj, pull requests merged in 2024-04, with the labels that each got.

#555 Namespace Exception typo fixed
  pom.xml
  webforj-foundation/src/main/java/com/webforj/environment/namespace/CanLock.java
  webforj-foundation/src/main/java/com/webforj/environment/namespace/Namespace.java
  webforj-foundation/src/main/java/com/webforj/environment/namespace/NamespaceVarableLockedException.java
  webforj-foundation/src/main/java/com/webforj/environment/namespace/NamespaceVariableLockedException.java
  webforj-foundation/src/main/java/com/webforj/environment/namespace/StandardNamespace.java
Labels: POM, module: foundation

#559 fix: MIME Type Error when running mvn install
  webforj-plugins/webforj-install-bbj-plugin/src/test/resources/log4j2.xml
  webforj-plugins/webforj-install-maven-plugin/pom.xml
  webforj-plugins/webforj-install-maven-plugin/src/main/java/com/webforj/maven/install/WebforjInstall.java
  webforj-plugins/webforj-install-maven-plugin/src/test/java/com/webforj/maven/install/WebforjInstallTest.java
  webforj-plugins/webforj-install-maven-plugin/src/test/resources/log4j2.xml
  webforj-plugins/webforj-install-maven-plugin/src/test/resources/test.jar
  webforj-plugins/webforj-install-maven-plugin/src/test/resources/test.xxx
Labels: module: plugins, POM

#572 chore: fixing image links
  CONTRIBUTING.md
Labels: Documentation

#570 feat: deployed apps should use _webforj_default classpath
  webforj-plugins/webforj-install-bbj-plugin/src/main/java/com/webforj/installer/WebforjInstaller.java
Labels: module: plugins
