Repository webforj/webforj, pull requests merged in 2024-07, with the labels that each got.

#638 feat: add support for setting HTML text in `DwcComponent`
  webforj-foundation/src/main/java/com/webforj/component/DwcComponent.java
  webforj-foundation/src/test/java/com/webforj/component/DwcComponentTest.java
Labels: Type: Feature, module: foundation, Breaking Change

#644 feat: align optioninput constructors with field constructors
  webforj-foundation/src/main/java/com/webforj/component/optioninput/CheckBox.java
  webforj-foundation/src/main/java/com/webforj/component/optioninput/DwcOptionInput.java
  webforj-foundation/src/main/java/com/webforj/component/optioninput/RadioButton.java
  webforj-foundation/src/main/java/com/webforj/component/optioninput/RadioButtonGroup.java
  webforj-foundation/src/test/java/com/webforj/component/optioninput/CheckBoxTest.java
  webforj-foundation/src/test/java/com/webforj/component/optioninput/RadioButtonGroupTest.java
  webforj-foundation/src/test/java/com/webforj/component/optioninput/RadioButtonTest.java
Labels: Type: Enhancement, module: foundation

#645 feat: Add `App.getFrames()` method to retrieve all created frames in the app
  webforj-foundation/src/main/java/com/webforj/App.java
  webforj-foundation/src/main/java/com/webforj/component/window/Frame.java
  webforj-foundation/src/test/java/com/webforj/AppTest.java
Labels: Type: Feature, module: foundation

#646 feat: add `Button` constructors with theme parameter
  webforj-foundation/src/main/java/com/webforj/component/button/Button.java
  webforj-foundation/src/test/java/com/webforj/component/button/ButtonTest.java
Labels: Type: Enhancement, Type: Feature, module: foundation

#648 feat: add webforj-toast component
  webforj-components/pom.xml
  webforj-components/webforj-toast/pom.xml
  webforj-components/webforj-toast/src/main/java/com/webforj/component/toast/Toast.java
  webforj-components/webforj-toast/src/test/java/com/webforj/component/toast/ToastTest.java
  webforj-report-aggregate/pom.xml
  webforj/pom.xml
Labels: Type: Feature, POM, module: components, module: framework, module: report-aggregate

#650 refactor: deprecate HtmlContainer component
  webforj-foundation/src/main/java/com/webforj/component/htmlcontainer/HtmlContainer.java
Labels: module: foundation, Breaking Change

#653 feat: add webforj-columnslayout component
  webforj-components/pom.xml
  webforj-components/webforj-columnslayout/pom.xml
  webforj-components/webforj-columnslayout/src/main/java/com/webforj/component/layout/columnslayout/ColumnsLayout.java
  webforj-components/webforj-columnslayout/src/test/java/com/webforj/component/layout/columnslayout/ColumnsLayoutTest.java
  webforj-report-aggregate/pom.xml
  webforj/pom.xml
Labels: Type: Feature, POM, module: components, module: framework, module: report-aggregate

#659 fix: `Element` should encode sent scripts with Base64
  webforj-foundation/src/main/java/com/webforj/component/element/Element.java
  webforj-foundation/src/test/java/com/webforj/component/element/ElementTest.java
Labels: module: foundation

#662 feat: add webforj-terminal component
  webforj-components/webforj-terminal/pom.xml
  webforj-components/webforj-terminal/src/main/java/com/webforj/component/terminal/Terminal.java
  webforj-components/webforj-terminal/src/main/java/com/webforj/component/terminal/TerminalOptions.java
  webforj-components/webforj-terminal/src/main/java/com/webforj/component/terminal/TerminalTheme.java
  webforj-components/webforj-terminal/src/main/java/com/webforj/component/terminal/event/TerminalDataEvent.java
  webforj-components/webforj-terminal/src/main/java/com/webforj/component/terminal/event/TerminalKeyEvent.java
  webforj-components/webforj-terminal/src/main/java/com/webforj/component/terminal/events/TerminalKey.java
  webforj-components/webforj-terminal/src/main/java/com/webforj/component/terminal/events/TerminalKeyEvent.java
  webforj-components/webforj-terminal/src/main/resources/xtermjs/xterm.css
  webforj-components/webforj-terminal/src/main/resources/xtermjs/xterm.js
  webforj-components/webforj-terminal/src/test/java/com/webforj/component/terminal/TerminalOptionsTest.java
  webforj-components/webforj-terminal/src/test/java/com/webforj/component/terminal/TerminalTest.java
  webforj-components/webforj-terminal/src/test/java/com/webforj/component/terminal/TerminalThemeTest.java
  webforj-report-aggregate/pom.xml
Labels: Type: Feature, POM, module: components, module: report-aggregate

#666 feat: add page unload event listener to Page class
  webforj-foundation/src/main/java/com/webforj/Page.java
  webforj-foundation/src/main/java/com/webforj/event/page/PageUnloadEvent.java
  webforj-foundation/src/main/java/com/webforj/event/page/PageUnloadEventHandler.java
  webforj-foundation/src/test/java/com/webforj/PageTest.java
Labels: Type: Feature, module: foundation

#667 feat: introduce app lifecycle
  webforj-foundation/src/main/java/com/webforj/App.java
  webforj-foundation/src/main/resources/bbj/webforj.bbj
Labels: Type: Enhancement, module: foundation, BBj

#672 feat: adding simple hot reload capacity
  webforj-foundation/src/main/resources/bbj/webforj.bbj
  webforj-plugins/webforj-install-bbj-plugin/src/main/java/com/webforj/installer/MavenBinaryInstaller.java
  webforj-plugins/webforj-install-bbj-plugin/src/main/java/com/webforj/installer/WebforjInstaller.java
  webforj-plugins/webforj-install-maven-plugin/README.md
  webforj-plugins/webforj-install-maven-plugin/src/main/java/com/webforj/maven/install/WebforjInstall.java
Labels: Documentation, module: plugins, module: foundation, BBj

#675 fix: `BrowserConsole` font-size: larger is smaller than font-size: large
  webforj-foundation/src/main/java/com/webforj/BrowserConsole.java
  webforj-foundation/src/test/java/com/webforj/BrowserConsoleTest.java
  webforj-plugins/webforj-install-bbj-plugin/src/main/java/com/webforj/installer/WebforjInstaller.java
Labels: Type: Bug, module: plugins, module: foundation

#670 feat: add void asynchronous JavaScript execution API methods to `Element` & `Page`
  webforj-foundation/src/main/java/com/webforj/Page.java
  webforj-foundation/src/main/java/com/webforj/component/JsExecutor.java
  webforj-foundation/src/main/java/com/webforj/component/element/Element.java
  webforj-foundation/src/main/java/com/webforj/concern/HasJsExecution.java
  webforj-foundation/src/test/java/com/webforj/PageTest.java
  webforj-foundation/src/test/java/com/webforj/component/JsExecutorMock.java
  webforj-foundation/src/test/java/com/webforj/component/element/ElementTest.java
Labels: Type: Feature, module: components, module: foundation

#676 feat: allow terminal write methods to accept a complete callback
  webforj-components/webforj-terminal/src/main/java/com/webforj/component/terminal/Terminal.java
  webforj-components/webforj-terminal/src/test/java/com/webforj/component/terminal/TerminalTest.java
Labels: Type: Enhancement, module: components

#678 fix: `isReadOnly` does accurately reflect read-only status
  webforj-foundation/src/main/java/com/webforj/component/DwcComponent.java
  webforj-foundation/src/test/java/com/webforj/component/DwcComponentTest.java
Labels: Type: Bug, module: foundation

#685 fix: `EventDispatcher` Catching of `ClassCastException` Leading to Confusing Error Messages
  webforj-dispatcher/src/main/java/com/webforj/dispatcher/EventDispatcher.java
Labels: Type: Bug, module: dispatcher

#686 feat: support HTML event registration via the page instance
  webforj-foundation/src/main/java/com/webforj/Page.java
  webforj-foundation/src/main/java/com/webforj/component/element/annotation/ElementAnnotationProcessor.java
  webforj-foundation/src/main/java/com/webforj/component/element/annotation/EventOptionsAnnotationProcessor.java
  webforj-foundation/src/main/java/com/webforj/component/element/event/ElementEventOptions.java
  webforj-foundation/src/main/java/com/webforj/component/event/EventSinkListenerRegistry.java
  webforj-foundation/src/main/java/com/webforj/event/page/PageEvent.java
  webforj-foundation/src/main/java/com/webforj/event/page/PageEventOptions.java
  webforj-foundation/src/main/java/com/webforj/sink/page/PageEventSink.java
  webforj-foundation/src/main/java/com/webforj/sink/page/PageEventSinkRegistry.java
  webforj-foundation/src/test/java/com/webforj/PageTest.java
  webforj-foundation/src/test/java/com/webforj/sink/page/PageEventSinkTest.java
Labels: Type: Feature, module: foundation
