Repository webforj/webforj, pull requests merged in 2024-03, with the labels that each got.

#539 feat: add splitter component
  webforj-components/pom.xml
  webforj-components/webforj-splitter/pom.xml
  webforj-components/webforj-splitter/src/main/java/com/webforj/component/layout/splitter/Splitter.java
  webforj-components/webforj-splitter/src/main/java/com/webforj/component/layout/splitter/event/SplitterResizeEvent.java
  webforj-components/webforj-splitter/src/test/java/com/webforj/component/layout/splitter/SplitterTest.java
  webforj/pom.xml
Labels: POM, moulde: components, module: aggregator

#533 fix: MavenBinaryInstaller Setting loose POSIX file permissions is sec…
  webforj-plugins/webforj-install-bbj-plugin/pom.xml
  webforj-plugins/webforj-install-bbj-plugin/src/main/java/com/webforj/installer/MavenBinaryInstaller.java
  webforj-plugins/webforj-install-bbj-plugin/src/main/java/com/webforj/installer/WebforjInstaller.java
Labels: module: plugins, POM

#548 feat: add default implementation for common concerns
  webforj-components/webforj-applayout/src/main/java/com/webforj/component/layout/applayout/AppLayout.java
  webforj-components/webforj-dialog/src/main/java/com/webforj/component/dialog/Dialog.java
  webforj-components/webforj-drawer/src/main/java/com/webforj/component/drawer/Drawer.java
  webforj-components/webforj-googlecharts/src/main/java/com/webforj/component/googlecharts/GoogleChart.java
  webforj-components/webforj-html-elements/src/main/java/com/webforj/component/html/HtmlComponent.java
  webforj-components/webforj-html-elements/src/main/java/com/webforj/component/html/HtmlComponentContainer.java
  webforj-components/webforj-splitter/src/main/java/com/webforj/component/layout/splitter/Splitter.java
  webforj-foundation/src/main/java/com/webforj/component/ComponentRegistry.java
  webforj-foundation/src/main/java/com/webforj/component/ComponentUtil.java
  webforj-foundation/src/main/java/com/webforj/component/element/ElementCompositeContainer.java
  webforj-foundation/src/main/java/com/webforj/concern/HasAttribute.java
  webforj-foundation/src/main/java/com/webforj/concern/HasClassName.java
  webforj-foundation/src/main/java/com/webforj/concern/HasComponents.java
  webforj-foundation/src/main/java/com/webforj/concern/HasEnablement.java
  webforj-foundation/src/main/java/com/webforj/concern/HasHtml.java
  webforj-foundation/src/main/java/com/webforj/concern/HasLabel.java
  webforj-foundation/src/main/java/com/webforj/concern/HasMax.java
  webforj-foundation/src/main/java/com/webforj/concern/HasMaxLength.java
  webforj-foundation/src/main/java/com/webforj/concern/HasMin.java
  webforj-foundation/src/main/java/com/webforj/concern/HasMinLength.java
  webforj-foundation/src/main/java/com/webforj/concern/HasPlaceholder.java
  webforj-foundation/src/main/java/com/webforj/concern/HasProperty.java
  webforj-foundation/src/main/java/com/webforj/concern/HasReadOnly.java
  webforj-foundation/src/main/java/com/webforj/concern/HasStyle.java
  webforj-foundation/src/main/java/com/webforj/concern/HasText.java
  webforj-foundation/src/main/java/com/webforj/concern/HasTooltip.java
  webforj-foundation/src/main/java/com/webforj/concern/HasValue.java
  webforj-foundation/src/main/java/com/webforj/concern/HasVisibility.java
  webforj-foundation/src/test/java/com/webforj/concern/ConcernComponentMock.java
  webforj-foundation/src/test/java/com/webforj/concern/HasAttributeTest.java
  webforj-foundation/src/test/java/com/webforj/concern/HasClassNameTest.java
  webforj-foundation/src/test/java/com/webforj/concern/HasComponentsTest.java
  webforj-foundation/src/test/java/com/webforj/concern/HasEnablementTest.java
  webforj-foundation/src/test/java/com/webforj/concern/HasHtmlTest.java
  webforj-foundation/src/test/java/com/webforj/concern/HasLabelTest.java
  webforj-foundation/src/test/java/com/webforj/concern/HasMaxLengthTest.java
  webforj-foundation/src/test/java/com/webforj/concern/HasMaxTest.java
  webforj-foundation/src/test/java/com/webforj/concern/HasMinLengthTest.java
  webforj-foundation/src/test/java/com/webforj/concern/HasMinTest.java
  webforj-foundation/src/test/java/com/webforj/concern/HasPlaceholderTest.java
  webforj-foundation/src/test/java/com/webforj/concern/HasPropertyTest.java
  webforj-foundation/src/test/java/com/webforj/concern/HasReadOnlyTest.java
  webforj-foundation/src/test/java/com/webforj/concern/HasStyleTest.java
  webforj-foundation/src/test/java/com/webforj/concern/HasTextTest.java
  webforj-foundation/src/test/java/com/webforj/concern/HasTooltipTest.java
  webforj-foundation/src/test/java/com/webforj/concern/HasValueTest.java
  webforj-foundation/src/test/java/com/webforj/concern/HasVisibilityTest.java
Labels: moulde: components, module: foundation
