Repository webforj/webforj, pull requests merged in 2024-10, with the labels that each got.

#769 fix: themes were not being applied to the loading's spinner
  webforj-components/webforj-loading/src/main/java/com/webforj/component/loading/Loading.java
Labels: Type: Bug, module: components

#781 fix: normalize path in Location
  webforj-foundation/src/main/java/com/webforj/router/history/Location.java
  webforj-foundation/src/test/java/com/webforj/router/history/LocationTest.java
Labels: Type: Bug

#782 refactor: add support for dynamic webapp root based on BBj service configuration
  .vscode/settings.json
  webforj-foundation/src/main/java/com/webforj/App.java
Labels: Type: Refactor

#785 fix: use getId instead of getName since the name of the thread can change
  webforj-foundation/src/main/java/com/webforj/Environment.java
Labels: Type: Bug

#786 feat: support `webforj.conf`
  pom.xml
  webforj-foundation/pom.xml
  webforj-foundation/src/main/java/com/webforj/Bootstrap.java
  webforj-foundation/src/main/java/com/webforj/Environment.java
  webforj-foundation/src/main/resources/bbj/webforj.bbj
  webforj-foundation/src/main/resources/webforj-default.conf
  webforj-foundation/src/test/java/com/webforj/EnvironmentTest.java
Labels: Type: Feature

#788 fix: handle empty `webforj.conf` path and set default configuration
  webforj-foundation/src/main/java/com/webforj/Environment.java
Labels: Type: Bug
