Repository webforj/webforj, pull requests merged in 2024-09, with the labels that each got.

#714 feat: allow setting prefix and suffix slots for supported components
  webforj-foundation/src/main/java/com/webforj/component/DwcComponent.java
  webforj-foundation/src/main/java/com/webforj/component/SlotAssigner.java
  webforj-foundation/src/main/java/com/webforj/component/SlotRegistry.java
  webforj-foundation/src/main/java/com/webforj/component/button/Button.java
  webforj-foundation/src/main/java/com/webforj/component/button/DwcButton.java
  webforj-foundation/src/main/java/com/webforj/component/field/DwcField.java
  webforj-foundation/src/main/java/com/webforj/component/list/DwcSelectDropdown.java
  webforj-foundation/src/main/java/com/webforj/component/tabbedpane/Tab.java
  webforj-foundation/src/main/java/com/webforj/component/tabbedpane/TabChangeListener.java
  webforj-foundation/src/main/java/com/webforj/component/tabbedpane/TabbedPane.java
  webforj-foundation/src/main/java/com/webforj/concern/HasPrefix.java
  webforj-foundation/src/main/java/com/webforj/concern/HasPrefixAndSuffix.java
  webforj-foundation/src/main/java/com/webforj/concern/HasSuffix.java
  webforj-foundation/src/test/java/com/webforj/component/DwcComponentTest.java
  webforj-foundation/src/test/java/com/webforj/component/SlotAssignerTest.java
  webforj-foundation/src/test/java/com/webforj/component/SlotRegistryTest.java
  webforj-foundation/src/test/java/com/webforj/component/button/DwcButtonTest.java
  webforj-foundation/src/test/java/com/webforj/component/field/DwcFieldTest.java
  webforj-foundation/src/test/java/com/webforj/component/list/DwcSelectDropdownTest.java
  webforj-foundation/src/test/java/com/webforj/component/tabbedpane/TabbedPaneTest.java
  webforj-foundation/src/test/java/com/webforj/concern/ConcernComponentMock.java
  webforj-foundation/src/test/java/com/webforj/concern/HasPrefixAndSuffixTest.java
Labels: Type: Feature, module: foundation

#717 feat: add icon components
  pom.xml
  scripts/feather-icons.js
  webforj-components/pom.xml
  webforj-components/webforj-icons/pom.xml
  webforj-components/webforj-icons/src/main/java/com/webforj/component/icons/DwcIcon.java
  webforj-components/webforj-icons/src/main/java/com/webforj/component/icons/FeatherIcon.java
  webforj-components/webforj-icons/src/main/java/com/webforj/component/icons/FontAwesomeIcon.java
  webforj-components/webforj-icons/src/main/java/com/webforj/component/icons/Icon.java
  webforj-components/webforj-icons/src/main/java/com/webforj/component/icons/IconButton.java
  webforj-components/webforj-icons/src/main/java/com/webforj/component/icons/IconFactory.java
  webforj-components/webforj-icons/src/main/java/com/webforj/component/icons/IconPoolBuilder.java
  webforj-components/webforj-icons/src/main/java/com/webforj/component/icons/TablerIcon.java
  webforj-components/webforj-icons/src/test/java/com/webforj/component/icons/DwcIconTest.java
  webforj-components/webforj-icons/src/test/java/com/webforj/component/icons/FeatherIconTest.java
  webforj-components/webforj-icons/src/test/java/com/webforj/component/icons/FontAwesomeIconTest.java
  webforj-components/webforj-icons/src/test/java/com/webforj/component/icons/IconButtonTest.java
  webforj-components/webforj-icons/src/test/java/com/webforj/component/icons/IconTest.java
  webforj-components/webforj-icons/src/test/java/com/webforj/component/icons/TablerIconTest.java
  webforj-foundation/pom.xml
  webforj-report-aggregate/pom.xml
  webforj/pom.xml
Labels: Type: Feature, POM, module: components, module: foundation, module: framework, module: report-aggregate

#723 fix: corrected the Img component's extension
  webforj-components/webforj-html-elements/src/main/java/com/webforj/component/html/elements/Img.java
Labels: Type: Bug, module: components

#727 refactor: pass the component's name to the underlying BBj controls
  webforj-components/webforj-html-elements/src/main/java/com/webforj/component/html/elements/Iframe.java
  webforj-components/webforj-icons/src/main/java/com/webforj/component/icons/Icon.java
  webforj-foundation/src/main/java/com/webforj/component/Composite.java
  webforj-foundation/src/main/java/com/webforj/component/DwcComponent.java
  webforj-foundation/src/main/java/com/webforj/component/field/DwcMaskedField.java
  webforj-foundation/src/test/java/com/webforj/component/CompositeTest.java
  webforj-foundation/src/test/java/com/webforj/component/DwcComponentTest.java
Labels: Type: Refactor, module: components, module: foundation

#728 fix: `Dialog` & `Login` components are not removed when destroyed
  webforj-components/webforj-dialog/src/main/java/com/webforj/component/dialog/Dialog.java
  webforj-components/webforj-login/src/main/java/com/webforj/component/login/Login.java
Labels: Type: Bug, module: components

#729 fix: `Composite` does not return the correct window instance
  webforj-foundation/src/main/java/com/webforj/component/Component.java
  webforj-foundation/src/main/java/com/webforj/component/Composite.java
Labels: Type: Bug, module: foundation

#730 refactor: change the default page title format to show the frame title
  webforj-foundation/src/main/java/com/webforj/Page.java
  webforj-foundation/src/main/java/com/webforj/annotation/AppTitle.java
  webforj-foundation/src/test/java/com/webforj/PageTest.java
Labels: Type: Refactor, module: foundation

#726 refactor: restrict webforj to one app and unfiy error handling
  webforj-foundation/src/main/java/com/webforj/App.java
  webforj-foundation/src/main/java/com/webforj/Bootstrap.java
  webforj-foundation/src/main/java/com/webforj/Environment.java
  webforj-foundation/src/main/java/com/webforj/annotation/AppEntry.java
  webforj-foundation/src/main/java/com/webforj/error/ErrorHandler.java
  webforj-foundation/src/main/java/com/webforj/error/GlobalErrorHandler.java
  webforj-foundation/src/main/java/com/webforj/error/StackTracePageBuilder.java
  webforj-foundation/src/main/java/com/webforj/utilities/AppFinder.java
  webforj-foundation/src/main/java/com/webforj/utilities/WelcomeApp.java
  webforj-foundation/src/main/resources/bbj/webforj.bbj
  webforj-foundation/src/test/java/com/webforj/EnvironmentTest.java
Labels: Type: Refactor, module: foundation, BBj, Breaking Change

#735 fix: icon does not implement the `HasAttribute` concern
  webforj-components/webforj-icons/src/main/java/com/webforj/component/icons/Icon.java
Labels: Type: Bug, module: components

#736 feat: add `AppDrawerToggle` component
  webforj-components/webforj-applayout/pom.xml
  webforj-components/webforj-applayout/src/main/java/com/webforj/component/layout/applayout/AppDrawerToggle.java
  webforj-components/webforj-applayout/src/test/java/com/webforj/component/layout/applayout/AppDrawerToggleTest.java
Labels: Type: Feature, POM, module: components

#737 feat: add `toolbar` component
  webforj-components/pom.xml
  webforj-components/webforj-toolbar/pom.xml
  webforj-components/webforj-toolbar/src/main/java/com/webforj/component/layout/toolbar/Toolbar.java
  webforj-components/webforj-toolbar/src/test/java/com/webforj/component/layout/toolbar/ToolbarTest.java
  webforj-report-aggregate/pom.xml
  webforj/pom.xml
Labels: Type: Feature, POM, module: components, module: framework, module: report-aggregate

#740 fix: `Toolbar` content slot should be the default one and not named
  webforj-components/webforj-toolbar/src/main/java/com/webforj/component/layout/toolbar/Toolbar.java
  webforj-components/webforj-toolbar/src/test/java/com/webforj/component/layout/toolbar/ToolbarTest.java
Labels: Type: Bug, module: components

#749 feat: add `Conceiver` to abstract objects instantiation
  webforj-foundation/src/main/java/com/webforj/Bootstrap.java
  webforj-foundation/src/main/java/com/webforj/component/element/ElementComposite.java
  webforj-foundation/src/main/java/com/webforj/conceiver/Conceiver.java
  webforj-foundation/src/main/java/com/webforj/conceiver/ConceiverProvider.java
  webforj-foundation/src/main/java/com/webforj/conceiver/DefaultConceiver.java
  webforj-foundation/src/main/java/com/webforj/conceiver/exception/ConceiverException.java
  webforj-foundation/src/test/java/com/webforj/component/element/ElementCompositeTest.java
  webforj-foundation/src/test/java/com/webforj/conceiver/DefaultConceiverTest.java
  webforj-foundation/src/test/java/com/webforj/conceiver/EventWithTwoArgs.java
Labels: Type: Feature, module: foundation

#759 fix: setting a component to a slot with an existing component throws expcetion
  webforj-foundation/src/main/java/com/webforj/component/SlotRegistry.java
Labels: Type: Bug, module: foundation
