Repository webforj/webforj, pull requests merged in 2024-06, with the labels that each got.

#606 fix: function order had to be changed.
  webforj-components/webforj-terminal/src/main/java/com/webforj/component/terminal/Terminal.java
Labels: moulde: components

#613 feat: add helper text support to components list and optioninput components
  webforj-foundation/src/main/java/com/webforj/component/list/DwcList.java
  webforj-foundation/src/main/java/com/webforj/component/optioninput/DwcOptionInput.java
  webforj-foundation/src/main/java/com/webforj/concern/HasHelperText.java
  webforj-foundation/src/test/java/com/webforj/component/list/DwcListTest.java
  webforj-foundation/src/test/java/com/webforj/component/optioninput/DwcOptionInputTest.java
  webforj-foundation/src/test/java/com/webforj/concern/ConcernComponentMock.java
  webforj-foundation/src/test/java/com/webforj/concern/HasHelperTextTest.java
Labels: module: foundation

#616 feat: add open methods to Page class for opening URLs
  webforj-foundation/src/main/java/com/webforj/Page.java
  webforj-foundation/src/test/java/com/webforj/PageTest.java
Labels: module: foundation

#624 feat: add `BrowserConsole` to log styled browser log messages
  .vscode/settings.json
  webforj-foundation/src/main/java/com/webforj/App.java
  webforj-foundation/src/main/java/com/webforj/BrowserConsole.java
  webforj-foundation/src/test/java/com/webforj/BrowserConsoleTest.java
Labels: Type: Feature, module: foundation

#625 refactor: mark `consoleLog` and `consoleError` methods deprecated
  webforj-foundation/src/main/java/com/webforj/App.java
Labels: module: foundation, Breaking Change

#631 feat: allow size configuration for webforj components
  webforj-components/webforj-html-elements/src/main/java/com/webforj/component/html/HtmlComponent.java
  webforj-foundation/src/main/java/com/webforj/component/DwcComponent.java
  webforj-foundation/src/main/java/com/webforj/concern/HasHeight.java
  webforj-foundation/src/main/java/com/webforj/concern/HasMaxHeight.java
  webforj-foundation/src/main/java/com/webforj/concern/HasMaxWidth.java
  webforj-foundation/src/main/java/com/webforj/concern/HasMinHeight.java
  webforj-foundation/src/main/java/com/webforj/concern/HasMinWidth.java
  webforj-foundation/src/main/java/com/webforj/concern/HasSize.java
  webforj-foundation/src/main/java/com/webforj/concern/HasWidth.java
  webforj-foundation/src/test/java/com/webforj/component/DwcComponentTest.java
  webforj-foundation/src/test/java/com/webforj/concern/ConcernComponentMock.java
  webforj-foundation/src/test/java/com/webforj/concern/HasSizeTest.java
Labels: Type: Feature, module: components, module: foundation

#634 feat: add application BusyIndicator
  webforj-foundation/src/main/java/com/webforj/App.java
  webforj-foundation/src/main/java/com/webforj/BusyIndicator.java
  webforj-foundation/src/main/java/com/webforj/component/loading/DwcLoading.java
  webforj-foundation/src/main/java/com/webforj/component/spinner/DwcSpinner.java
  webforj-foundation/src/main/java/com/webforj/component/spinner/SpinnerExpanse.java
  webforj-foundation/src/test/java/com/webforj/AppTest.java
  webforj-foundation/src/test/java/com/webforj/BusyIndicatorTest.java
Labels: Type: Feature, module: foundation

#636 feat: enable `PropertyDescriptorTester` to support hinting for proprety setters and getters.
  webforj-foundation/src/main/java/com/webforj/component/element/PropertyDescriptorInfo.java
  webforj-foundation/src/main/java/com/webforj/component/element/PropertyDescriptorScanner.java
  webforj-foundation/src/main/java/com/webforj/component/element/PropertyDescriptorTester.java
  webforj-foundation/src/main/java/com/webforj/component/element/annotation/PropertyExclude.java
  webforj-foundation/src/main/java/com/webforj/component/element/annotation/PropertyMethods.java
Labels: Type: Feature, module: foundation

#637 feat: add webforj-loading component
  webforj-components/pom.xml
  webforj-components/webforj-loading/pom.xml
  webforj-components/webforj-loading/src/main/java/com/webforj/component/loading/Loading.java
  webforj-components/webforj-loading/src/test/java/com/webforj/component/loading/LoadingTest.java
  webforj-report-aggregate/pom.xml
  webforj/pom.xml
Labels: Type: Feature, POM, module: components, module: framework, module: report-aggregate
