Repository webforj/webforj, pull requests merged in 2025-01, with the labels that each got.

#860 refactor: register Element defined events only once to optimize performance
  webforj-foundation/src/main/java/com/webforj/component/element/Element.java
Labels: Type: Refactor, module: foundation

#862 fix: DateTimeField and TimeField must truncate seconds
  webforj-foundation/src/main/java/com/webforj/component/field/DateTimeField.java
  webforj-foundation/src/main/java/com/webforj/component/field/TimeField.java
  webforj-foundation/src/test/java/com/webforj/component/field/DateTimeFieldTest.java
  webforj-foundation/src/test/java/com/webforj/component/field/TimeFieldTest.java
Labels: Type: Bug, module: foundation

#863 fix: TabbedPane should not fire selection events when select is invoked programmatically
  webforj-foundation/src/main/java/com/webforj/component/tabbedpane/TabbedPane.java
  webforj-foundation/src/test/java/com/webforj/component/tabbedpane/TabbedPaneTest.java
Labels: Type: Bug, module: foundation

#864 fix: Asset URLs do not include running context name
  webforj-foundation/src/main/java/com/webforj/utilities/Assets.java
  webforj-foundation/src/test/java/com/webforj/utilities/AssetsTest.java
Labels: Type: Bug, module: foundation

#872 refactor: update context property references to use `webforj.context`
  webforj-foundation/src/main/java/com/webforj/App.java
  webforj-foundation/src/main/java/com/webforj/utilities/Assets.java
  webforj-foundation/src/test/java/com/webforj/utilities/AssetsTest.java
Labels: Type: Refactor, module: foundation

#874 fix: table's cell double click and cell click both fire on single click
  webforj-components/webforj-table/src/main/java/com/webforj/component/table/event/cell/TableCellDoubleClickEvent.java
Labels: Type: Bug, module: components

#875 feat: add support for configuring Icon expansion
  webforj-components/webforj-icons/src/main/java/com/webforj/component/icons/Icon.java
  webforj-components/webforj-icons/src/main/java/com/webforj/component/icons/IconExpanse.java
Labels: Type: Feature, module: components

#877 fix: ComboBox with custom values disabled now behaves consistently with a ChoiceBox
  webforj-foundation/src/main/java/com/webforj/component/list/ComboBox.java
  webforj-foundation/src/test/java/com/webforj/component/list/ComboBoxTest.java
Labels: Type: Bug, module: foundation

#878 feat: allow TextFields to set the the autocomplete attribute
  webforj-foundation/src/main/java/com/webforj/component/field/DwcTextField.java
  webforj-foundation/src/test/java/com/webforj/component/field/DwcTextFieldTest.java
Labels: Type: Feature, module: foundation

#866 feat: add `@AppProfile` Annotation for app manifest and meta configuration
  webforj-foundation/src/main/java/com/webforj/ProfileDescriptor.java
  webforj-foundation/src/main/java/com/webforj/annotation/AnnotationProcessor.java
  webforj-foundation/src/main/java/com/webforj/annotation/AppProfile.java
  webforj-foundation/src/test/java/com/webforj/ProfileDescriptorTest.java
  webforj-foundation/src/test/java/com/webforj/annotation/AnnotationProcessorTest.java
Labels: Type: Feature, module: foundation

#879 refactor: streamline the behavior of list components to set/get selected items
  webforj-foundation/src/main/java/com/webforj/component/list/ChoiceBox.java
  webforj-foundation/src/main/java/com/webforj/component/list/DwcSelectDropdown.java
  webforj-foundation/src/main/java/com/webforj/component/list/ListBox.java
  webforj-foundation/src/test/java/com/webforj/component/list/ChoiceBoxTest.java
  webforj-foundation/src/test/java/com/webforj/component/list/DwcListTest.java
  webforj-foundation/src/test/java/com/webforj/component/list/ListBoxTest.java
Labels: Type: Refactor, module: foundation

#881 feat: add `FileSaveDialog` component
  webforj-foundation/src/main/java/com/webforj/bridge/WebforjBBjBridge.java
  webforj-foundation/src/main/java/com/webforj/component/optiondialog/FileChooserDialog.java
  webforj-foundation/src/main/java/com/webforj/component/optiondialog/FileSaveDialog.java
  webforj-foundation/src/main/java/com/webforj/component/optiondialog/OptionDialog.java
  webforj-foundation/src/main/resources/bbj/WebforjHelper.bbj
  webforj-foundation/src/test/java/com/webforj/component/WebforjHelperMock.java
  webforj-foundation/src/test/java/com/webforj/component/optiondialog/FileSaveDialogTest.java
Labels: Type: Feature, module: foundation, BBj

#882 fix:`InvalidPathException` issue that occurred when using the `ws://` protocol on Windows to reference icons
  webforj-foundation/src/main/java/com/webforj/ProfileDescriptor.java
  webforj-foundation/src/main/java/com/webforj/annotation/AnnotationProcessor.java
  webforj-foundation/src/main/java/com/webforj/utilities/Assets.java
  webforj-foundation/src/test/java/com/webforj/utilities/AssetsTest.java
Labels: Status: Confirmed, Type: Bug, module: foundation

#884 resolves #883
  webforj-plugins/webforj-install-bbj-plugin/pom.xml
Labels: module: plugins, POM
